/* Import Fira Code for PC's */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

/* Reset font-family */
div, textarea, .level2, .rm-level1, .rm-level2, .rm-level3 {
	font-family: Menlo, "Fira Code", "Courier New", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Left sidebar colors */
.roam-body .roam-app .roam-sidebar-container {
    background-color: #EFEFEF;
}
.bp3-minimal > div {
   color: #666666 !important;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button, .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page, .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
    color: #666666;
}

/* Right sidebar colors */
#right-sidebar {
	background-color: #efefef !important;            
}

/* Workflowy-like bullets */ 
.controls {
    flex: 0 0 36px;
    padding-top: 4px;
    padding-left: 0px;
  	margin-right: 5px;
}
span.bp3-icon-standard {
    font-size: 16px;
    line-height: 1;
    margin-left: 0px;
    padding-top: 2px;
}
.roam-bullet-closed, #right-sidebar .roam-bullet-closed {
    background-color: #DDE0E2;
}
#right-sidebar .roam-bullet-closed, .rm-reference-item .roam-bullet-closed{
    background-color: #D1D2D3;
}
.controls .simple-bullet-outer {
    height: 20px;
    width: 20px;
    margin-top: -1px;
}
.controls .simple-bullet-outer .simple-bullet-inner {
    background-color: #4D5155;
  	width: 8px;
  	height: 8px;
}

/* Align vertical lines and remove choppiness */
.block-border-left {
    margin-left: 5px;
  	border-radius: 0;
  	padding-left: 8px;
  	padding-bottom: 5px;
}

/* Set the previous daily note headers to the same size so they don't jump on hover */
.roam-log-preview .level2 {
  	font-size: 36px;
}

/* Right sidebar increase padding on the left */
#roam-right-sidebar-content {
	margin-left:15px  !important;
}

/* Reference Item background color */
.rm-reference-item {
    background-color: #efefef;
}

/* Hideous new database selector div */
.roam-sidebar-container .rm-db-title-container .rm-db-title {
    color: #666666;
}
.bp3-popover {
  width: 288px;
}
.roam-body .roam-app .roam-sidebar-container {
  width: 250px;
}
.roam-sidebar-container .rm-db-title-container:hover {
    background-color: #DBDEE1;
}

/* Remove top padding from the article area */

.roam-body .roam-app .roam-main .roam-article {
    padding: 0px 42px 120px;
}

.roam-body-main {
 top:40px !important;   
}

/* Remove negative top margin from zoom-path-view */
.rm-zoom.zoom-path-view {
    margin-top: 0px;
}

/* From @Can Sar, Cleaning up alignment for H1/H2/H3. */
h3.rm-level3 {
      margin-top: -3px !important;
}

h2.rm-level2 {
      margin-top: -4px !important;
}

h1.rm-level1 {
      margin-top: -5px !important;
}

/*From @JasperGeh, vertically align checkboxes */ 
.check-container {
  vertical-align: middle;
  margin-top: 9px;
}
